<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %> - Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>
<body>

<div class="logo">
        <h3>PIZZA</h3>
        <h2>KMA</h2>
    </div>
    <div class="navg">
        <div class="row top-bar">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><h3>(044) 222 5 222</h2></div>
            <div class="col-md-4 col-lg-3 second"><h5>24 години 7 днів на тиждень</h4></div>
            <div class="col-lg-3 first"><h4>Безкоштовна доставка</h3></div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 login"><a href="#" class="btn btn-warning btn btn-warning-warning btn btn-warning-primary">Увійти</a></div>
            <hr class="col-xs-12 thirt">
            <div class="col-lg-12 thirt"><h4>Піца</h4></div>
        </div>
    </div>

