<% include common/header.ejs %>

<div id="cart">

</div>

<div class="container" style="padding-top: 110px;">
        <h1>Усі піцци<span class="badge badge-warning">4</span></h1>
        <ul class="nav nav-pills">
            <li class="active">
              <a href="#" id="all">Усі</a>
            </li>
            <li><a href="#" id="meat">Мясні</a></li>
            <li><a href="#" id="pineapple">З ананасом</a></li>
            <li><a href="#" id="mushroom">З грибами</a></li>
            <li><a href="#" id="ocean">З морепродуктами</a></li>
            <li><a href="#" id="vegan">Вега</a></li>
        </ul>
        <div class="row" id="pizza_list">
        </div>
    </div>

<% include common/footer.ejs %>